
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
}
.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

body {
    
    text-align: center;
}
p{
    
}



.red{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
  }
  
  .red:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
  }